<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Title</h1>
    <p>Welcome to working</p>
    <ul>
      <li>
      <% if (user) { %>
        <a href="/logout"> <%=user.name%>  Log Out</a>
      <%    console.log(user)    } else { %>
        <a href="/auth/google">Login with Google</a>
      <% } %>
      </li>
    </ul>
  </body>
</html>
