<h1>API Documentation</h1>
<h3>to Get JSON Data Use the Link Provided on the Home Page</h3>
<h5>URL Should be https://surveyapiandcharts.herokuapp.com/api/{User ID}/{Survey ID}</h5>
<h5>Add /pie to the  end of the URL to get the Pie Graph returned as a HTML String</h5>
<br>
<h5>An exsample of how to incorporate:</h5>
<div>
    <p> fetch('apiUrl/pie').then(response => { </p>
    <p> return response.json(); </p>
    <p>  }).then(data => { </p>
    <p> document.getElementById('yourDiv').innerHTML=data; </p>
    <p> }) </p>
</div>