body {
  box-sizing: border-box;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(132, 178, 238);
  color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#nava, button, select
{
  color: rgb(255, 116, 255);
  padding: 4px;
  border: 2px solid violet;
  background-color: rgb(65, 66, 66);
  width: 15vw;
}
label
{
  text-align: center;
}
select
{
  width: 45vw;
  font-size: 20px;
}
nav
{
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  background-color: rgb(156, 169, 173);
  padding: 5vh 3vw 1vh;
  width: 94vw;
}
#nava{
  display: flex;
  align-items: center;
}
nav button
{
  height: 18vh;
  width: 20vw;
  font-size: 20px
}
nav h1
{
width: 30vw;
}
.hidden
{
  display: none;
  margin: 0 5vw;
  background-color: rgb(107, 107, 109);
}
#tyCard
{
  text-align: center;
  width: 80vw;
  height: 30vh;
  position: fixed;
  z-index: 5;
  left: 10vw;
  top: 20vh;
  background-color: dimgray;
  color: aquamarine;
  border: 1vw solid lightblue;
}
h3
{
  display: flex;
  align-content: center;
  background-color: dimgray;
  border: 1vw solid lightblue;
  padding: 2vh;
  width: 90vw;
}
h3 div
{
position: relative;
left: 90%;
z-index: 5;
transform: rotate(90deg);
margin: 0;
}
table
{
  border: 1vw solid lightblue;
}
tr ,td,td form
{
  display: flex;
  align-content: stretch;
}
#show
{
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pieChart
{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 1px 5px 10px black;
}
.LineGraph
{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-left: 1vw solid black;
  border-bottom: 1vw solid black; 
  width: 200px;
  height: 200px;
}
input
{
  width: 20vw;
  height: 10vh;
  background-color: rgb(65, 65, 66);
  color: rgb(236, 184, 238);
}
#addToSurvey, #lastQuestion div
{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.graphs
{
  display: grid;
  grid-template-columns: repeat(2,2fr);
  justify-content: center;
  align-items: flex-end;
}