<form action="/new" method="GET">
<button>Make Survey</button>
</form>
<table>
<%  if(user.surveys.length >0) { %>
<% for(let x = 0; x < user.surveys.length; x++){ %>
    <tr>
        <td>
            <%= user.surveys[x].name %>
           :  
        </td>

        <td>
            <form action="/show/<%=user.googleId%>/<%= user.surveys[x]._id %>" method="GET"><button>View</button></form>
        </td>
        <td>
            <p>send</p>
        </td>
        <td>
            <p>edit</p>
        </td>
        <td>
            <form action="/<%= user.surveys[x]._id %>?_method=DELETE" method="POST"><button>Delete</button></form>
        </td>
    </tr>
<% }} else { %>
<p>Make a survey to start.</p>
<% } %>
</table>
