<h2>Please log-in to Make Your First Survey</h2>
<h2>How It Works</h2>
<p>logged-in To Create, Veiw, Edit, Delete Surveys.</p>
<p>Send your Surveys to Firends, Family, or Anyone!</p>
<p>The Results of your Survey Can Be Veiwed or Sent as an API.</p>
<p>Click <a href="/auth/google">Here</a> To Get Starteds</p>