<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
<nav>
    <h1>Survey To Api</h1>
  <% if (user) { %>
    <a id="nava" href="/logout"> <%=user.name%> <br> Log Out</a>
  <% } else { %>
    <a id="nava" href="/auth/google">Login with Google</a>
  <% } %>
</nav>
