<%- include('../parts/header') %>
<div id="tyCard">
    <h1>Thank you</h1>
    <h1>For taking the </h1>
    <h1><%= s.name %> Survey</h1>
    <form action="/" method="GET">
    <button>Close</button>
    </form>
</div>
</body>